<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bench Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-card class="text-align-center">
    <img src="https://mcdn.wallpapersafari.com/medium/83/79/zV3gas.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Welcome to Bench Report</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      Bench Report is the biggest page for Sports and Television. Catch up with sports around the world. Streaming Entertainment from TV Channels. We provide you with working Links for all Worldwide Sport Events having a daily updated Sport and TV schedule. Buy tickets of your favorite team and win catch prizes with every point that you collect. For each Stream Live Sport or Live Television, we offer several manually checked Streams so make sure you do select a video feed and also switch the Channels in top of each stream. If you have any Questions like your Stream is not loading contact us through our Facebook Fan page.
    </ion-card-content>
  </ion-card>

</ion-content>
