<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Top Sports</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--images-->
  <div class="homeImages">
      <img src="https://wallpapercave.com/wp/wp7675338.jpg" />
  </div>

  <!--Songs content-->
  <ion-card>
      <ion-card-header>
          <ion-card-title class="ion-text-center" color="danger">ON FIRE SPORTS</ion-card-title>
      </ion-card-header>
  </ion-card>

  <ion-card >
      <img src="https://netstorage-sportsbrief.akamaized.net/images/6770d2a1c0458bc7.jpg?imwidth=720" />
      <ion-card-header>
          <ion-card-title>Football</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        Association football (soccer) is the most popular sport in Europe, played with a round ball and 11 players per team. It is played by over 250 million people in more than 200 countries and dependencies and has more than 4 billion followers worldwide.
      </ion-card-content>
      <ion-button fill="clear">
        <ion-icon slot="start" name="flame"></ion-icon></ion-button>

  </ion-card>

  <ion-card>
      <img src="https://netstorage-sportsbrief.akamaized.net/images/af62610a4078946c.jpg?imwidth=720" />
      <ion-card-header>
          <ion-card-title>Hockey</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        Again, hockey is a game played in multiple dimensions, including bandy, field hockey, ice hockey, and rink hockey. Although many may disagree, hockey is the third most popular sport in the world.
      </ion-card-content>

      <ion-button fill="clear">
        <ion-icon slot="start" name="flame"></ion-icon></ion-button>
  </ion-card>

  <ion-card>
      <img src="https://netstorage-sportsbrief.akamaized.net/images/ec4995e13fc02834.jpg?imwidth=720" />
      <ion-card-header>
          <ion-card-title>Racing
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        Now, there are different types of racing, including the human race, the vehicle race, and the animal race. But, no matter what form it takes, it is tremendously entertaining and adored by people worldwide.
      </ion-card-content>
      <ion-button fill="clear">
        <ion-icon slot="start" name="flame"></ion-icon></ion-button>
  </ion-card>

  <ion-card>
      <img src="https://netstorage-sportsbrief.akamaized.net/images/f25069cd152ad57b.jpg?imwidth=720" />
      <ion-card-header>
          <ion-card-title>Tennis</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        According to historical records, tennis began as an outdoor game in the twelfth century and evolved into an indoor court game in the thirteenth century. However, it wasn't until the sixteenth century that this game was dubbed "tennis."
      </ion-card-content>
      <ion-button fill="clear">
        <ion-icon slot="start" name="flame"></ion-icon></ion-button>
  </ion-card>

  <ion-card>
      <img src="https://netstorage-sportsbrief.akamaized.net/images/06960400193c2530.jpg?imwidth=720" />
      <ion-card-header>
          <ion-card-title>Baseball</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        Baseball began as a famous school game among the youth of Great Britain and Ireland. The present game of baseball, however, is of North American origin. Today, it is unquestionably popular in the United States.
      </ion-card-content>
      <ion-button fill="clear">
          <ion-icon slot="start" name="flame"></ion-icon></ion-button>
  </ion-card>








</ion-content>