<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Sports Hub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--images-->

  <ion-card class="ion-no-padding">
    <ion-card-header class="ion-no-padding">
      <ion-img  src="https://i.pinimg.com/564x/27/b5/c9/27b5c99e411c8346a8c1a9d2b51f4b25.jpg"></ion-img>
    </ion-card-header>
  </ion-card>

  <!--Forum content-->
  <ion-card>
      <ion-card-header>
          <ion-card-title color="danger" class="ion-text-center">Catch up with your Favorite Sports</ion-card-title>
      </ion-card-header>
  </ion-card>


  <ion-card color="secondary">
      <img src="https://cdn.nba.com/manage/2022/12/michael-jordan-close-up-kia-mvp.png" />
      <ion-card-header>
          <ion-card-title>NBA unveils The Michael Jordan Trophy to be awarded to Kia MVP</ion-card-title>
          <ion-card-subtitle class="ion-text-justify">The National Basketball Association (NBA) today unveiled six newly designed trophies named after NBA legends, which will be presented to the end-of-season Kia Performance Award winners.  Headlined by The Michael Jordan Trophy, which will be awarded to the Kia NBA Most Valuable Player, the lineup of reimagined trophies honors the league pioneers who helped define the standards of excellence that these trophies represent.

          </ion-card-subtitle>
      </ion-card-header>

  </ion-card>

  <ion-card color="secondary">
      <img src="https://digitalhub.fifa.com/transform/afc4ce9b-776e-4e1c-a8a8-c6335fa4afc6/Argentina-v-Croatia-Semi-Final-FIFA-World-Cup-Qatar-2022?io=transform:fill,height:648,width:1440&quality=75" />
      <ion-card-header>
          <ion-card-title>The World Cup records Messi owns and is chasing</ion-card-title>
          <ion-card-subtitle>With their performance on the night, the Argentine duo shattered a no. of FIFA World Cup records. While Alvarez matched Brazilian legend Pele in a major record book, the seven-time Balon d’Or winner surpassed legends like Diego Maradona and Gabriel Batistuta in the World Cup record books for Argentina.
          </ion-card-subtitle>
      </ion-card-header>
  </ion-card>

  <ion-card color="secondary">
      <img src="https://www.usnews.com/object/image/00000185-112e-df99-a197-57bf081d0000/860ab12cf58648ad9b28463303dc2eebNetflix_Tennis_Docuseries_Tennis_41215.jpg?update-time=1671030074000&size=responsive970" />
      <ion-card-header>
          <ion-card-title>‘Break Point,’ Netflix’s ‘Drive’ for Tennis, Debuts Jan. 13</ion-card-title>
          <ion-card-subtitle class="ion-text-justify">A Netflix docuseries about professional tennis called “Break Point” — think of it as that sport’s answer to the popular “Formula 1: Drive to Survive” — will debut on Jan. 13, three days before the start of the 2023 Grand Slam season at the Australian Open.

          </ion-card-subtitle>
      </ion-card-header>
  </ion-card>

</ion-content>