<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Ticket Hub</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">

  

  <ion-card class="ion-no-padding">
    <ion-card-header class="ion-no-padding">
      <ion-img  src="\assets\icon\Mcvince.png"></ion-img>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title class="ion-text-center" color="danger">ORDER YOUR TICKETS NOW</ion-card-title>
    </ion-card-header>
</ion-card>


  <ion-card color="danger">
  <ion-list>
    <ion-item>
      <ion-label position="floating"> Customer Number </ion-label>
      <ion-input [(ngModel)]="student_number" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Customer Name </ion-label>
      <ion-input [(ngModel)]="student_name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Sports to Watch </ion-label>
      <ion-input [(ngModel)]="course" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Number of Tickets </ion-label>
      <ion-input [(ngModel)]="year" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Email Address </ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Contact Number </ion-label>
      <ion-input [(ngModel)]="contact_number" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Home Address </ion-label>
      <ion-input [(ngModel)]="home_add" type="text"></ion-input>
    </ion-item>
    


    <!-- Add Button -->
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="addStudent()" color="danger" shape="full" expand="block">
          Add Order
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type ="button" (click) ="getStudents()"
        color="danger" shape="full" expand="block"> View Orders </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-card>

  <!-- Add Component to display records -->
  <ion-card>
  <ion-list>
    <ion-list-header class="ion-text-center"> Your Orders </ion-list-header>
    <ion-item lines="inset" *ngFor="let student of students">
      <ion-label>
        <h5> {{student.student_number}} - ({{student.student_name}}, {{student.course}}, {{student.year}}, {{student.email}}, {{student.contact_number}}, {{student.home_add}}) </h5>
      </ion-label>
      <div class="item-note">
        <ion-icon name ="create" style="zoom:2.0" [routerLink] ="['/update-student', student.id]" ></ion-icon>
        <ion-icon name="trash" style="zoom: 2.0" (click)="deleteStudent(student.id)"></ion-icon>

        <!-- <ion-icon name ="trash" style="zoom:2.0" (click) = "deleteStudent(student_number)" ></ion-icon> -->
      </div>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>